$blue: #222831;
$transparant_blue:rgba(8, 51, 88, 0.7);
$font-color: #eee;
$navcolor_black: #000;

$rose:#FFD369;
$btncolor: rgb(0, 0, 0);


$border: 0.5rem solid $rose;
$border-small: 0.2rem solid $rose;
$smallest-border: 0.1rem solid #FFD369;

$gradient: none;
$gradient_galerij: none;