@use "../colors/colors.scss";

.section1_organisatie {
    padding-top: 2rem; 
    padding-bottom: 2rem; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 100%; 
    box-sizing: border-box; 
}

.section1_img_wrapper{
    width: 100%;
    height: 100%;
    width: 50%;
    position: relative;
}

.section1_img{
    width: 100%;
    height: auto;
}

.organisatie_description{
    font-size: 1rem; 
    color: colors.$black;
    padding: 5rem;
    text-transform: uppercase; 
    letter-spacing: 2px; 
    font-weight: bold; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.section2_organisatie{
    padding-top: 2rem; 
    padding-bottom: 2rem; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 100%; 
    box-sizing: border-box; 
}

.section2_img_wrapper{
    width: 100%;
    height: auto;
    width: 50%;
    position: relative;
}
.section2_img{
    width: 100%;
    height: auto;
}

.section3_organisatie{
    padding-top: 2rem; 
    padding-bottom: 2rem; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 100%; 
    box-sizing: border-box; 
}

.description{
    width: 50%;
    height: 100%;
    background: colors.$smoke;
    padding: 2rem 4rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 3rem;
    font-size: 2rem;
}

.description_titel{
    font-size: 4rem;
    color: colors.$red;
}

.description_header{
    font-size: 2rem;
}